#menuPrincipal, #menuPrincipal ul{
	list-style: none;
	padding: 0;
	
}
#menuPrincipal{
	width: 960px;
    border: 1px solid #222;
    background-color: #111;
    background-image: linear-gradient(#444, #111);
    border-radius: 6px;
    box-shadow: 0 1px 1px #777;
    margin: auto;
    margin-top: 10px
	
}
#menuPrincipal > li{
	float: left;
    border-right: 1px solid #222;
    box-shadow: 1px 0 0 #444;
    position: relative;
}

#menuPrincipal > li > ul{
	: hidden;
}
#menuPrincipal:before,
#menuPrincipal:after {
    content: "";
    display: table;
}

#menuPrincipal:after {
    clear: both;
}

#menuPrincipal a {
    float: left;
    padding: 12px 30px;
    color: #999;
    text-transform: uppercase;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    text-shadow: 0 1px 0 #000;
}
#menuPrincipal li:hover > a {
    color: #fafafa;
}

#menuPrincipal ul {
    margin: 20px 0 0 0;
    _margin: 0; /*IE6 only*/
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 38px;
    left: 0;
    z-index: 1;    
    background: #444;   
    background: linear-gradient(#444, #111);
    box-shadow: 0 -1px 0 rgba(255,255,255,.3);  
    border-radius: 3px;
    transition: all .2s ease-in-out;
}

#menuPrincipal li:hover > ul {
    opacity: 1;
    visibility: visible;
    margin: 0;
}

#menuPrincipal ul ul {
    top: 0;
    left: 150px;
    margin: 0 0 0 20px;
    box-shadow: -1px 0 0 rgba(255,255,255,.3);      
}

#menuPrincipal ul li {
    float: none;
    display: block;
    border: 0;
    box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#menuPrincipal ul li:last-child {   
    box-shadow: none;    
}

#menuPrincipal ul a {    
    padding: 10px;
    width: 130px;
    display: block;
    white-space: nowrap;
    float: none;
    text-transform: none;
}

#menuPrincipal ul a:hover {
    background-color: #0186ba;
    background-image: linear-gradient(#04acec, #0186ba);
}
#menuPrincipal ul li:first-child > a {
    border-radius: 3px 3px 0 0;
}

#menuPrincipal ul li:first-child > a:after {
    content: '';
    position: absolute;
    left: 40px;
    top: -6px;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #444;
}

#menuPrincipal ul ul li:first-child a:after {
    left: -6px;
    top: 50%;
    margin-top: -6px;
    border-left: 0; 
    border-bottom: 6px solid transparent;
    border-top: 6px solid transparent;
    border-right: 6px solid #3b3b3b;
}

#menuPrincipal ul li:first-child a:hover:after {
    border-bottom-color: #04acec; 
}

#menuPrincipal ul ul li:first-child a:hover:after {
    border-right-color: #0299d3; 
    border-bottom-color: transparent;   
}

#menuPrincipal ul li:last-child > a {
    border-radius: 0 0 3px 3px;
}