/*#desplegarSeguimiento,#desplegarCierres,#desplegarGarantias,#desplegarFacturado{
	padding: 5px;
	border:2px solid black;
	top:10px;
	left: 5px;
	position: relative;
	margin-top: 20px;
	background-color: #fff;
}*/
#desplegarSeguimiento{
	top:10px;
}
#segActividades{
	margin-top: 20px;
	margin-left: 10px;
	position: relative;
}
#EnCierre{
	margin-top: 20px;
	margin-left: 10px;
	position: relative;
}
#desplegarCierres{
	top:0px;
}
#proyectosEnGarantia{
	margin-top: 20px;
	margin-left: 10px;
	position: relative;
}
#proyectosFacturados{
	margin-top: 0px;
	margin-left: 5px;
	position: relative;
}
#desplegarGarantias{top:0px;}
#contSeg,#contCierre,#contGarantia,#contFacturado{color:red; position: relative; margin-left: 13px; font-size:14px; font-weight: bold;}
#contSeg{top: 10px;}
#contCierre{top: 0px;}
#contGarantia{top: 0px;}
#contFacturado{top:10px; font-size: 11px;}

#facturasPagadasActual, #facturasPagadasAnterior{font-size: 11px; margin-top: 5px; margin-bottom: 5px; margin-left: 10px;}

.seguimientos,.recordatorios{
	width: auto;
	position: relative;
	float: right;
	background-color: rgba(255,255,255,0.4);
	color:#000;
}

.infoBox{
	width: 360px;
	border: 2px solid #bababa;
	background: linear-gradient(#f9f9f9, #e3e3e3);
	margin: 5px;
	max-height: 380px;
	min-height: 45px;
	overflow: hidden;
	border-radius: 4px;
	padding: 5px;

}

.infoBoxTitulo{
	float: left;
	width: 350px;
	height: 30px;
	background-color: transparent;
	margin-left: 5px;
	margin-top: 10px;
	font-size: 14px;
	cursor: pointer;

}
.contSeg{
	float: right;
	color: RED;
}
.segActividades,.enOvertime,.proyEnGarantia,.valorFacturado{
	float: left;
	border: 2px solid #d9d9d9;
	border-radius: 5px;
	margin: 2px 3px 2px 3px;
	background-color: #f3f3f3;
	width: 330px;
	padding: 3px;
}
.bodySegActividades,.bodyEnOvertime,.bodyEnGarantia{
	float: left;
	border: 1px #cdcbd0;
	border-radius: 3px;
	background-color: #ffffff;
	width: 350px;
	font-size: 12px;
	padding: 2px;
	max-height: 330px;
	overflow: auto;
}
.bodySegActividades::-webkit-scrollbar,.bodyEnOvertime::-webkit-scrollbar,.bodyEnGarantia::-webkit-scrollbar { 
    display: none; 
}